.font-head {
  font-family: "Comfortaa", cursive;
}

.footerBackground {
  background-color: rgb(244, 247, 250);
}

:root {
  --primary-color: rgb(3 176 241);
}

.primaryColorBg {
  background-color: var(--primary-color);
}

.primaryColorText {
  color: var(--primary-color);
}

.header-hight {
  line-height: 4;
}
.screen60 {
  height: 60vh;
}
